/* STYLES FOR components/login/Login.jsx */

.login-p {
    color: var(--color-neutral-dark);
    font-size: 1.5em;
    font-weight: bolder;
    user-select: none;
    transition: 0.5s ease;
}

.login-p:hover {
    color: var(--color-neutral-dark-comp)
}